@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(../fonts/montserrat.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/open-sans.ttf) format('truetype');
}

html,
body {
  background-image: url('../img/adwaita-morning.jpg');
}

body {
  font-family: 'Open Sans', sans-serif;
}

#js-warning .panel-body {
  background-color: #c3cfe0;
}

.masthead-brand {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 301px;
  height: 72px;
  background-image: url('../img/GnomeLogoHorizontal.png');
  background-size: 200px;
  background-repeat: no-repeat;

  /* This is hilarious. */
  text-indent: -9999px;
}

.masthead-nav > li > a {
  font-family: Montserrat, sans-serif;
}

.mastfoot a {
  color: #111;
}

.mastfoot {
  margin: 0, 0, 0, 0;
  height: 70px;
  padding-top: 40px;
  color: #666 !important;
  background-image: url('../img/grass.png');

  /* You need "important" here to override the media-specific css queries */
  width: 100% !important;
}

.title {
  font-size: 38pt;
}
