@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(../fonts/montserrat.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/open-sans.ttf) format('truetype');
}

html,
body {
  background-image: url('../img/background.png');
}

body {
  font-family: 'Open Sans', sans-serif;
}

.masthead-brand {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 217px;
  height: 72px;
  background: url('../img/archlinux.png');
  background-size: 200px;
  background-repeat: no-repeat;

  /* This is hilarious. */
  text-indent: -9999px;
}

.masthead-nav > li > a {
  font-family: Montserrat, sans-serif;
}
